body{
    background-color: #F1f5f8;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
    margin-left: 25%;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    width: 50%;
    /* width: max-content; */
}
button{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 30px;
    margin-left: 45%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    
}
button:hover{
    background-color: black;
    color: white;
    transition-duration: 1s;
}

span{
    color: #49A6E9;
}